In [1]:
import pymongo

client= pymongo.MongoClient('mongodb://127.0.0.1:27017/', connect=False)

mydb=client["Employee"]

empinfo= mydb.employeeinformation

# Querring the Values

In [10]:
records={
    'firstname' : 'Rajesh',
    'lastname'  : 'sharme',
    'qualification' : "BE",
    'department'  :  "software"
}

empinfo.insert_one(records)

In [12]:
records=[{
    'firstname' : 'Rajesh',
    'lastname'  : 'sharme',
    'qualification' : "BE",
    'department'  :  "software"
},
    {
       'firstname' : 'manish',
    'lastname'  : 'shar',
    'qualification' : "BE",
    'department'  :  "IT" 
    },
    {
    'firstname' : 'sober',
    'lastname'  : 'vrases',
    'qualification' : "BE",
    'department'  :  "EC"
},
    {
       'firstname' : 'dheeraj',
    'lastname'  : 'gupta',
    'qualification' : "BE",
    'department'  :  "EEE" 
    }]

empinfo.insert_many(records)

In [13]:
## Querying (Basic)

In [2]:
empinfo.find_one()

{'_id': ObjectId('5ff8a7bcfbf0dfc8d1b33a86'),
 'firstname': 'Anshulj',
 'lastname': 'jjain',
 'dept': 'analytics'}

In [3]:
# TO query all the documents
for record in empinfo.find():
    print(record)

{'_id': ObjectId('5ff8a7bcfbf0dfc8d1b33a86'), 'firstname': 'Anshulj', 'lastname': 'jjain', 'dept': 'analytics'}
{'_id': ObjectId('5ff8a92bfbf0dfc8d1b33a8d'), 'firstname': 'Anshulj', 'lastname': 'jjain', 'dept': 'analytics'}
{'_id': ObjectId('5ff8a92bfbf0dfc8d1b33a8e'), 'firstname': 'Anshulj2', 'lastname': 'jjain2', 'dept': 'analytic2'}
{'_id': ObjectId('5ff8b4e45ea175b7919f5bc5'), 'firstname': 'Rajesh', 'lastname': 'sharme', 'qualification': 'BE', 'department': 'software'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc6'), 'firstname': 'Rajesh', 'lastname': 'sharme', 'qualification': 'BE', 'department': 'software'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc7'), 'firstname': 'manish', 'lastname': 'shar', 'qualification': 'BE', 'department': 'IT'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc8'), 'firstname': 'sober', 'lastname': 'vrases', 'qualification': 'BE', 'department': 'EC'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc9'), 'firstname': 'dheeraj', 'lastname': 'gupta', 'qualification': 'BE', 'department': 'EEE'}

In [18]:
# where first name is Anshul

empinfo.find_one({'firstname' : 'sober'})

{'_id': ObjectId('5ff8b5b45ea175b7919f5bc8'),
 'firstname': 'sober',
 'lastname': 'vrases',
 'qualification': 'BE',
 'department': 'EC'}

In [20]:
## Query Operatiors ($in,$lt etc)

In [26]:
for record in empinfo.find({'qualification': {'$in': ['phd','BE']}}):
    print(record)

{'_id': ObjectId('5ff8b4e45ea175b7919f5bc5'), 'firstname': 'Rajesh', 'lastname': 'sharme', 'qualification': 'BE', 'department': 'software'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc6'), 'firstname': 'Rajesh', 'lastname': 'sharme', 'qualification': 'BE', 'department': 'software'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc7'), 'firstname': 'manish', 'lastname': 'shar', 'qualification': 'BE', 'department': 'IT'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc8'), 'firstname': 'sober', 'lastname': 'vrases', 'qualification': 'BE', 'department': 'EC'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc9'), 'firstname': 'dheeraj', 'lastname': 'gupta', 'qualification': 'BE', 'department': 'EEE'}

In [15]:
# or ooperator

for record in empinfo.find({'$or' : [{'firstname' : 'sober'}, {'department':{'$in': ['IT','EC']}} ]}):
    print(record)

{'_id': ObjectId('5ff8b5b45ea175b7919f5bc7'), 'firstname': 'manish', 'lastname': 'shar', 'qualification': 'BE', 'department': 'IT'}
{'_id': ObjectId('5ff8b5b45ea175b7919f5bc8'), 'firstname': 'sober', 'lastname': 'vrases', 'qualification': 'BE', 'department': 'EC'}

In [14]:
# or ooperator

for record in empinfo.find({'$and' : [{'firstname' : 'manish'}, {'department':{'$in': ['IT','EC']}} ]}):
    print(record)

{'_id': ObjectId('5ff8b5b45ea175b7919f5bc7'), 'firstname': 'manish', 'lastname': 'shar', 'qualification': 'BE', 'department': 'IT'}

In [17]:
inventory=mydb.inventory

In [18]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [23]:
for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('5ff940dd26e154c8799cecbc'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

# Updating JSON Documentsin Mongo DB

In [24]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

### Update

In [29]:
inventory.update_one({"item":"sketch pad"},
                    {'$set': {"size.uom" : "in","status":"P" }, 
                     '$currentDate':{"lastModified" : True}}
                    
                    )

In [30]:
inventory.find_one({"item" : "sketch pad"})

{'_id': ObjectId('5ff9498d26e154c8799cecca'),
 'item': 'sketch pad',
 'qty': 95,
 'size': {'h': 22.85, 'w': 30.5, 'uom': 'in'},
 'status': 'P',
 'lastModified': datetime.datetime(2021, 1, 9, 7, 17, 54, 568000)}

### Replace

In [31]:
inventory.replace_one(
    {'item' : "paper"},
    {'item' : 'paper',
    "instock": [
        {"warehouse" : "A", "qty": 60},
        {"warehouse" : "B", "qty": 40}
    ]}
)

In [32]:
inventory.find_one({'item': "paper"})

{'_id': ObjectId('5ff940dd26e154c8799cecbe'),
 'item': 'paper',
 'instock': [{'warehouse': 'A', 'qty': 60}, {'warehouse': 'B', 'qty': 40}]}

## Aggregate and Group Functions

In [33]:
mydatabase=client['Students']

collection=mydatabase['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

In [37]:
# find total number of records w.r.t subjects

agg_result1= collection.aggregate(
    [{
        '$group' :
            {
                '_id' : "$user",
                'Total Records' : {'$sum' : 1 }
            }
    }])

for i in agg_result1:
    print(i)

{'_id': 'Amit', 'Total Records': 3}
{'_id': 'Krish', 'Total Records': 3}

In [39]:
agg_result2= collection.aggregate([{
        "$group" : 
            {
                '_id' : '$user',
                "Total Marks" : {"$sum" : "$score"}
            }
}])

for i in agg_result2:
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': 'Krish', 'Total Marks': 250}

In [41]:
 agg_result3= collection.aggregate([{
         "$group" : {
             '_id' : '$user',
             'Average Score' : {'$avg' : '$score'}
         }
 }])
    
    
for i in agg_result3:
    print(i)

{'_id': 'Krish', 'Average Score': 83.33333333333333}
{'_id': 'Amit', 'Average Score': 78.33333333333333}

In [42]:
import datetime as  datetime

### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [43]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 1, 9, 10, 17, 52, 645156)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 1, 9, 10, 17, 52, 645156)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 1, 9, 10, 17, 52, 645156)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 1, 9, 10, 17, 52, 645156)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 1, 9, 10, 17, 52, 645156)}]

In [44]:
mycollection = mydatabase["stores"]
mycollection.insert_many(data)

In [46]:
## Calculating average quantity

agg_result4= mycollection.aggregate([{
        '$group' :
            {
                '_id' : '$item',
                'AverageQuantity' : {"$avg" : '$quantity'},
                'TotalAvgPrice'   : {"$avg" : {'$multiply' : ['$quantity', '$price']}}
                
            }
}])


for i in agg_result4:
    print(i)

{'_id': 'abc', 'AverageQuantity': 6.0, 'TotalAvgPrice': 60.0}
{'_id': 'xyz', 'AverageQuantity': 7.5, 'TotalAvgPrice': 37.5}
{'_id': 'jkl', 'AverageQuantity': 1.0, 'TotalAvgPrice': 20.0}

In [47]:
## $project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [48]:
#another new collection

collection2= mydatabase.Books

In [49]:
collection2.insert_many(data)

In [50]:
collection2.find_one()

{'_id': 1,
 'title': 'abc123',
 'isbn': '0001122223334',
 'author': {'last': 'zzz', 'first': 'aaa'},
 'copies': 5}

In [55]:
for row in collection2.aggregate([{ '$project' : {'title' : 1 }}]):
    print(row)

{'_id': 1, 'title': 'abc123'}
{'_id': 2, 'title': 'Baked Goods'}

In [56]:
for row in collection2.aggregate([{ '$project' : {'title' : 1 , 'isbn' : 1 }}]):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}